# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Production
/build

# Env files
.env
.env.local
.env.production
.env.development
.env*.local

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
